<%= simple_form_for session, html: { class: "session form" } do |f| %>
  <% if session.errors.any? %>
    <div class="error-message">
      <%= session.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :name, input_html: { autofocus: true } %>
  <%= f.submit class: "btn btn--secondary" %>
<% end %>
