<%= turbo_frame_tag session do %>
  <div class="session">
    <%= link_to session.name, session_path(session), class: "link", data: { turbo_frame: "_top" } %>
    <div class="session__actions">
      <%= button_to "Delete",
                    session_path(session),
                    method: :delete,
                    form: { data: { turbo_confirm: "Are you sure?" } },
                    class: "btn btn--light" %>
      <%= link_to "Edit",
                  edit_session_path(session),
                  class: "btn btn--light link" %>
    </div>
  </div>
<% end %>
