<main class="container">
  <%= link_to sanitize("&larr; Back to session"), session_path(@session), class: "link" %>

  <div class="header">
    <h1 class="title text-3xl">Edit session</h1>
  </div>

  <%= turbo_frame_tag @session do %>
    <%= render "form", session: @session %>
  <% end %>
</main>
