<main class="container">
  <%= link_to sanitize("&larr; Back to sessions"), sessions_path %>

  <div class="header">
    <h1>New session</h1>
  </div>

  <%= render "form", session: @session %>
</main>
