<main class="container">
  <%= link_to sanitize("&larr; Back to session"), session_path(@session) %>

  <div class="header">
    <h1>New exercise for <%= @block.name %></h1>
  </div>

  <%= turbo_frame_tag nested_dom_id(@block, Exercise.new) do %>
    <%= render "form",
              session: @session,
              block: @block,
              exercise: @exercise %>
  <% end %>
</main>
