<header class="flex items-center shadow px-2 py-6 mb-12 bg-white">
  <%= image_tag 'kettlebud.png', alt: "Force Pure Logo", class: "mr-3 h-12 sm:h-16" %>
  <div class="font-bold text-xl text-header">
    FORCE PURE!!!
  </div>
</header>
